
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */